.nav-main {
    margin: auto;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}

.nav-main div {
    margin: 15px;
    text-align: center;
    text-decoration: underline;
}
